@model SchoolManagementSystem.Domain.Entities.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Student/StudentLayout.cshtml";
}

<div class="col-lg-12">
    <h1 class="page-header">My Details</h1>
</div>
<div class="row">
    <label class="col-lg-1 text-right">PIN:</label>@Model.PIN
</div>
<div class="row">
    <label class="col-lg-1 text-right">First Name:</label> @Model.FirstName
</div>
<div class="row">
    <label class="col-lg-1 text-right">Last Name:</label> @Model.LastName
</div>
<div class="row">
    <label class="col-lg-1 text-right">Class:</label> @ViewBag.className
</div>
<div class="row">
    <label class="col-lg-1 text-right">Address:</label> @Model.Address
</div>
<div class="row">
    <label class="col-lg-1 text-right">Phone Number:</label> @Model.PhoneNumber
</div>
<div class="row">
    <label class="col-lg-1 text-right">Mobile Phone:</label> @Model.MobilePhoneNumber
</div>
<div class="row">
    <label class="col-lg-1 text-right">Nationality:</label> @Model.Nationality
</div>
<div class="row">
    <label class="col-lg-1 text-right">Religion:</label> @Model.Religion
</div>