@model SchoolManagementSystem.Models.SecretaryAddTeacherViewModel
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/Secretary/SecretaryLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Teacher:</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@if (ViewBag.message != "" && ViewBag.message != null)
{
    <h3 class="text-info">@ViewBag.message</h3>
}

<div class="col-lg-5">
    @using (Html.BeginForm("AddTeacher", "Secretary"))
    {
        <div class="row form-group">
            <label>PIN:</label>
            <input class="form-control" type="text" name="PIN" required value="">
        </div>

        <div class="row form-group">
            <label>Password:</label>
            <input class="form-control" type="text" name="Password" required value="">
        </div>

        <div class="row form-group">
            <label>First Name:</label>
            <input class="form-control" type="text" name="FirstName" required value="">
        </div>

        <div class="row form-group">
            <label>Last Name:</label>
            <input class="form-control" type="text" name="LastName" required value="">
        </div>

        <div class="row form-group">
            <label>Address:</label>
            <input class="form-control" type="text" name="Address" value="">
        </div>

        <div class="row form-group">
            <label>Phone Number:</label>
            <input class="form-control" type="text" name="PhoneNumber" value="">
        </div>

        <div class="row form-group">
            <label>Mobile Phone:</label>
            <input class="form-control" type="text" name="MobilePhoneNumber" value="">
        </div>

        <div class="row form-group">
            <label >Educational Grade:</label>
            <input class="form-control" type="text" name="EducationalGrade" value="">
        </div>

        <div class="row form-group">
            <label >Email:</label>
            <input class="form-control" type="text" name="Email" value="">
        </div>

        <div class="row form-group" style="max-width: 150px">
            <label> Select Discipline:</label>
            <select name="Discipline_Id" class="form-control" required id="sel2">
                @foreach (var classItem in @Model.Disciplines)
                {
                    <option value="@classItem.Id">@classItem.Subject</option>

                }
            </select>
        </div>
        
        <div class="row form-group" style="max-width: 150px">
            <label> Select Classes to study:</label>
            <select multiple name="classes" class="form-control" required id="sel2">
                @foreach (var classItem in @Model.Classes)
                {
                    <option value="@classItem.Id">@classItem.Name</option>

                }
            </select>
        </div>

        
        <button class="btn btn-success" type="submit">Save</button>
    }
    <br/>
<br/>
</div>

