@model List<SchoolManagementSystem.Models.TeacherViewModel>
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Secretary/SecretaryLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Teachers:</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>PIN</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Phone</th>
                                <th>Grade</th>
                                <th>Discipline</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Model)
                            {
                                <tr>
                                    <td>@teacher.Teacher.PIN</td>
                                    <td>@teacher.Teacher.FirstName</td>
                                    <td>@teacher.Teacher.LastName</td>
                                    <td>@teacher.Teacher.Address</td>
                                    <td>@teacher.Teacher.Email</td>
                                    <td>@teacher.Teacher.MobilePhoneNumber</td>
                                    <td>@teacher.Teacher.PhoneNumber</td>
                                    <td>@teacher.Teacher.EducationalGrade</td>
                                    <td>@teacher.Discipline</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>
        <!-- /.row -->